body{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body{height:100vh;
    box-sizing:border-box;
    overflow-y:hidden;} 

.biganamasimifal{
    width: 300px;
    height: 300px;
}